@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMonoNL Nerd Font';
  font-size: 14px;
}

window#waybar {
    background-color: transparent;
    /* You can also use rgba(0, 0, 0, 0) */
    color: #ffffff; /* Sets the default text color */
}

.modules-left {
  margin-left: 8px;
  border-radius: 5px;
}

.modules-right {
  margin-right: 8px;
  background-color: @background;
  border-radius: 5px;
  padding: 0 6px 0 12px;
}

.modules-center {
  background-color: @background;
  border-radius: 5px;
  padding: 0 6px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  background-color: @background;
  color: @foreground;
  border-radius: 5px;
  /* border: all; */
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
    border: 1px solid @foreground;
    background-color: @foreground;
    color: @background;
    font-weight: bold;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px 0 7.5px;
  font-size: 14px;
  color: @foreground;
}

#custom-omarchy {
   margin-right: 20px;
   margin-left: 7.5px;
   padding: 7.5px;
   background-color: @background;
   border-radius: 5px;
   color: @foreground;
}

#bluetooth.connected {
   color: #409F43;
}

#bluetooth.off {
   color: #7D8387;
}

#custom-expand-icon {
  margin-right: 7px;
  font-size: 14px;
   color: @foreground;
}

tooltip {
  padding: 2px;
}


#clock {
  /* margin-left: 8.75px; */
   color: @foreground;
}

.hidden {
  opacity: 0;
}
