layout {

    focus-ring {
        active-color   "#cec0ea"
        inactive-color "#141315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cec0ea"
        inactive-color "#141315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cec0ea"
        inactive-color "#180e2e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cec0ea80"
    }
}

recent-windows {
    highlight {
        active-color "#cec0ea"
        urgent-color "#ffb4ab"
    }
}
